Hard day at work at {company}. But worth it!
I'm so happy at {company}.
{company} sucks.
I love my job!
Name: {firstname} {lastname}. Company: {company}. Title: {jobtitle}
{jobtitle} is the best job!
Yay {company}!
I love {jobtitle}!
I hate {jobtitle}!
I love {company}!
I hate {company}!
Hey @{company} support! Can you change my password? It's {password} right now.