<html>

<head>
    <title>
        Posts
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        .w-1 { width: 10%; }
        .w-2 { width: 20%; }
        .w-3 { width: 30%; }
        .w-4 { width: 40%; }
        .w-5 { width: 50%; }
        .w-6 { width: 60%; }
        .w-7 { width: 70%; }
        .w-8 { width: 80%; }
        .w-9 { width: 90%; }
        .w-10 { width: 100%; }
    </style>
</head>

<body>
<div class="container my-5">
    <div class="row">
        <div class="col">
            <h1 class="display-1">Posts! <a class="btn btn-primary btn-lg float-right" href="/new">Insert a new
                Post!</a></h1>
            <hr>
            <div class="alert alert-info">{{ data[1] }}</div>
        </div>
    </div>
    <div class="row">

        {% for post in data[0] %}
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="my-2">
                            Post
                            <a class="btn btn-sm btn-secondary float-right ml-2" href="/update/{{post.id}}">Edit</a>
                            <a class="btn btn-sm btn-danger float-right" href="/delete/{{post.id}}">Delete</a>
                        </h3>
                    </div>
                    <div class="card-body">
                        {{post.body}}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>

</html>